.header {
  margin: 92px 49px 92px 51px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.header_menu {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  padding-bottom: 45px;
  padding-top: 43px;
  text-underline-offset: 5px;
}

.header_links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.header_link {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_links-item_no-bullit {
  text-decoration: none;
  list-style-type: none;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  max-width: 240px;
  width: 100%;
  font-size: 18px;
  text-underline-position: under;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  width: 1440px;
  min-height: 757px;
  background-position: center;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000000;
  z-index: 1;
}

.cover_title {
  position: relative;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  padding-left: 50px;
  padding-top: 165px;
  line-height: 115%;
}

.aligned-text_center {
  padding-top: 20px;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
  padding-top: 20px;
  padding-right: 28px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover_description {
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 135px;
  margin-left: 422px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  gap: 78px;
}

.cover_description-text {
  word-spacing: 17px;
  position: relative;
  line-height: 28px;
  z-index: 2;
}

.bet-button {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid #fff;
  z-index: 2;
  color: #ffffff;
  padding: 12px 32px;
  background-color: transparent;
}

.lots {
  margin: 180px 50px 181px 50px;
}

.lots_heading {
  padding-left: 40px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 27px;
}

.lots_card-list {
  display: flex;
  list-style-type: none;
  gap: 25px;
  justify-content: space-between;
}

.lots_card-list-item {
  display: flex;
  width: 430px;
  height: 450px;
}

.card-link {
  display: block;
  min-height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  position: relative;
  height: 100%;
  flex-grow: 1;
  color: #fff;
  align-items: center;
  padding: 50px 40px 50px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_title {
  display: flex;
  font-size: 18.7px;
  font-weight: 700;
  line-height: 26.4px;
  letter-spacing: 0px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
  z-index: 2;
}

.card_text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_look-more-link {
  display: flex;
  box-sizing: content-box;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 1108px;
}

.about {
  max-width: 1340px;
  margin: auto;
  display: flex;
  gap: 25px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  width: 240px;
  height: 240px;
  margin: 0 95px;
}

.about_logo-image {
  width: 148px;
  height: 114px;
}

.about_column {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 100px;
}

.about_title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 25px;
  flex-direction: column;
}

.footer {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 180px 50px 90px 50px;
}

.footer_address {
  list-style-type: none;
  line-height: 24.3px;
  font-size: 18px;
  font-style: normal;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 240px;
  width: 100%;
  text-underline-position: under;
}

.footer_menu {
  display: flex;
  text-align: center;
}

.footer_menu-list {
  list-style-type: none;
}

.footer_menu-list-item {
  font-size: 18px;
  line-height: normal;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_menu-link {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.footer_social {
  display: flex;
}

.footer_social-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 240px;
}

.footer_social-list-item {
  display: block;
  list-style-type: none;
}

.footer_social-icon {
  display: flex;
  width: 100%;
  height: 48px;
}

.footer_social-link {
  display: flex;
}
